@font-face {
  font-family: tilt-neon;
  src: url(../assets/VarelaRound-Regular.ttf);
}

$body-bg: #121212;
$body-ft: tilt-neon;
$color-1: #00f260;
$color-2: #0575e6;
$color-3: #12c2e9;
$color-4: #c471ed;
$color-5: #f64f59;

@mixin mobileView800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin mobileView500 {
  @media (max-width: 500px) {
    @content;
  }
}

body {
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  font: {
    family: $body-ft;
  }
}

h2,
h1 {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 0;
  background-color: white;
  padding: 0;
  font-size: 1.4rem;
  .brand {
    margin-right: auto;
  }
  li,
  a {
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.container {
  display: grid;
  grid-template: 400px 50% / 1fr;
}

.intro-section {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  position: relative;
  color: black;
  padding: 50px 0;
  background: linear-gradient(45deg, $color-3, $color-4, $color-5);
  div {
    text-align: center;
    font-size: 60px;
  }
}

.intro-section::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 10px;
  background: $body-bg;
  -webkit-mask-image: url("../assets/spike.svg");
  -webkit-mask-size: 50px 10px;
}

.intro-section::after {
  bottom: 0;
  transform: rotate(180deg);
}

.products-component {
  grid-row: 2/3;
  margin-top: 20px;
  display: grid;
  grid-template: 150px 1fr / 1fr;

  h1 {
    grid-row: 1/2;
    text-align: center;
    font-size: 3rem;
    color: white;
  }

  .products-group {
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 250px;
      font-size: 1.5rem;
    }
    img {
      margin-top: 5px;
      border-radius: 25px;
    }
    .input-group {
      display: flex;
      gap: 2px;

      input {
        overflow-x: hidden;
      }
    }
  }

  button {
    max-width: 250px;
  }
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    font-size: 1.5rem;
  }
  img {
    margin-top: 5px;
    border-radius: 25px;
    max-height: 300px;
  }
  .input-group {
    display: flex;
    gap: 2px;

    input {
      overflow-x: hidden;
    }
  }

  button {
    max-width: 250px;
  }
}

.container-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .cart-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    min-width: 800px;
    background-color: white;
    color: black !important;
    @include mobileView800 {
      min-width: 500px;
    }
    @include mobileView500 {
      min-width: 250px;
    }
  }
  .theItemItSelf {
    margin-top: 10px;
    width: 100%;
    .item {
      font: {
        weight: bold;
        size: 1.5rem;
      }
    }
    .price {
      text-align: right;
      font-size: 1.2rem;
    }
  }

  .remove-item {
    margin-top: 5px;
    background-color: #dc3545;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
  }

  .check-out {
    display: flex;
    justify-content: flex-start;
    min-width: 800px;
    padding: 20px;
    background-color: white;
    color: black !important;
    @include mobileView800 {
      min-width: 500px;
    }
    @include mobileView500 {
      min-width: 250px;
    }

    .second-cont {
      margin-top: 10px;
      width: 100%;
    }

    .total {
      text-align: right;
      font-size: 1.2rem;
    }

    button {
      @extend .remove-item;
      background-color: #0d6efd;
    }
  }
}

.add {
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  background-color: $color-5;
  color: white;
}
